svg{
    height: 17px;
    width: 17px;
}
#big{
    height: 1000px;
    width: 13000px;
}
#svg {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.titles{
    position: fixed;
    background-color: white;
    z-index: 2;
}
#titles{
    top: 50px;
}

#table{
    position: absolute;
    left:340px;
}
circle {
    cx: 10;
    cy:10;
    r: 5;
    stroke: black;
    stroke-width:2;
    fill:white;
    display: block;
}
circle:hover {
    stroke: red;
}


line {
    stroke:rgb(180, 180, 180);
    stroke-width:2;
    width: 20px;
    height : 20px;
}